*{
    margin: 0;
    padding: 0;
}
ul.header-text {
    margin: 0;
    padding: 15px;
    background-color:rgb(45, 133, 206);
    
}
ul.header-text li {
    display: inline;
    margin-right: 5px;
    margin-left: 165px;
    border: 0 solid #000;
    color: white;
    font-family: Kis Std Roman;
    font-size: 20px;
}
img{
    padding: 10px;
    width:250px;
}
.content{
    width:1000px;
    height: 400px;
    padding-left: 230px;
}
.content .logo{
    display: inline;
}
.logo img{
    width: 260px;
    height: 260px;
    margin: 50px 0 50px 50px;
    border-radius: 50%;
}
.content .student{
    display: inline-block;
    width: 500px;
    margin: 80px;
}
table, th {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    width: 600px;
}
h2{
    padding-bottom: 40px;
}
.textarea{
    text-align: center;
}
.textarea textarea{
    width: 800px;
    height: 150px;
}
p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}